[package]
name = "stacker"
version = "0.1.0"
edition = "2021"

[lib]
path="src/lib.rs"

[[bin]]
path = "src/main.rs"
name = "stacker"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = "4.3.1"
chrono = { version = "0.4.26", features = ["time"] }
config = "0.13.3"
reqwest = { version = "0.11.17", features = ["json"] }
serde = { version = "1.0.162", features = ["derive"] }
tokio = { version = "1.28.1", features = ["full"] }
tracing = { version = "0.1.37", features = ["log"] }
tracing-bunyan-formatter = "0.3.8"
tracing-log = "0.1.3"
tracing-subscriber = { version = "0.3.17", features = ["registry", "env-filter"] }
uuid = { version = "1.3.4", features = ["v4"] }
thiserror = "1.0"
serde_valid = "0.16.3"
serde_json = { version = "1.0.105", features = [] }
serde_derive = "1.0.188"
actix-web-httpauth = "0.8.1"
actix-cors = "0.6.4"
tracing-actix-web = "0.7.7"
regex = "1.10.2"


[dependencies.sqlx]
version = "0.6.3"
features = [
    'runtime-actix-rustls',
    "postgres",
    "uuid",
    "tls",
    "chrono",
    "json"
]
