version: "2.2"

volumes:
  stackerdb:
    driver: local

  redis-data:
    driver: local

networks:
  stacker-network:
    driver: bridge

services:
  stacker:
    image: trydirect/stacker:0.0.9
    container_name: stacker-dev
    restart: always
    networks:
      - stacker-network
    volumes:
      # Mount local compiled binary for fast iteration
      - ./target/debug/server:/app/server:ro
      # Project configuration and assets
      - ./files:/app/files
      - ./docker/local/configuration.yaml:/app/configuration.yaml
      - ./access_control.conf:/app/access_control.conf
      - ./migrations:/app/migrations
      - ./docker/local/.env:/app/.env
    ports:
      - "8000:8000"
    env_file:
      - ./docker/local/.env
    environment:
      - RUST_LOG=debug
      - RUST_BACKTRACE=1
    depends_on:
      stackerdb:
        condition: service_healthy
    entrypoint: ["/app/server"]

  redis:
    container_name: redis-dev
    image: redis
    restart: always
    networks:
      - stacker-network
    ports:
      - 6379:6379
    volumes:
      - redis-data:/data
    sysctls:
      net.core.somaxconn: 1024
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        tag: "container_{{.Name}}"

  stackerdb:
    container_name: stackerdb-dev
    networks:
      - stacker-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    image: postgres:16.0
    restart: always
    ports:
      - 5432:5432
    env_file:
      - ./docker/local/.env
    volumes:
      - stackerdb:/var/lib/postgresql/data
      - ./docker/local/postgresql.conf:/etc/postgresql/postgresql.conf
